body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


a {
    color: #5568FE;
    text-decoration: none;
    margin-top: 10px;
}

.logo {
    width: 150px;
    height: 150px;
}
