* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #F9F5EC
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #181920;
    color: #F9F5EC;
}


.sidebar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 240px;
    height: 100%;
    padding: 40px 10px 30px 10px;
    border-right: 1px solid #2f3336;
    transition: all 0.8s;
}


.logo {
    width: 50px;
    min-height: 50px;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.4s;
}

    .logo:hover {
        transform: scale(2);
    }

.sidebar button {
    height: 60px;
    background: transparent;
    border: 0;
    font-family: sans-serif;
    color: inherit;
    cursor: pointer;
    text-align: left;
    padding: 0;
}

    .sidebar button > span {
        display: inline-flex;
        align-items: center;
        gap: 12px;
        height: 48px;
        padding: 0 16px 0 12px;
        border-radius: 24px;
        line-height: 1;
    }

    .sidebar button:hover > span {
        background-color: rgba(255,255,255,0.08);
    }

.sidebar > nav {
    /*
    flex-grow quanto vai crescer e flex-shrink quanto vai reduzir
    */
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}


@media (width < 920px) {
    .sidebar {
        width: 72px;
    }

        .sidebar button > span {
            width: 50px;
        }

            .sidebar button > span > span {
                opacity: 0;
                visibility: hidden;
            }

    .main {
        transition: margin 0.4s;
        margin-left: 78px;
    }
}

.relatorio {
    margin: 10px 40px;
}

    .relatorio > input {
        margin: 40px 40px;
    }

    .relatorio input {
        margin-top: 100px;
        background-color: #252A34;
        color: #F9F5EC;
        padding-left: 10px;
        border: none;
        height: 45px;
        outline: none;
        border-radius: 8px;
        ;
        gap: 40px;
    }

.input-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.relatorio [type="submit"] {
    float: right;
    background-color: #006400;
    font-size: 15PX;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    color: #F9F5EC;
    height: 45px;
    outline: none;
    border-radius: 8px;
}

select {
    margin-top: 10px;
    background-color: #252A34;
    color: #F9F5EC;
    padding-left: 10px;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
}

.tabela {
    margin-top: 20px;
    overflow-x: auto; /* Adiciona rolagem horizontal quando necessário */
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #2f3336;
    background-color: #252A34;
}

th, td {
    border: 1px solid #2f3336;
    padding: 10px;
    text-align: center;
    color: #F9F5EC;
}

th {
    background-color: #006400;
    font-weight: bold;
}

/* Estilização para células de dados alternadas */
tr:nth-child(even) {
    background-color: #363C47;
}

/* Estilização para células de dados ao passar o mouse */
tr:hover {
    background-color: #454F5B;
}
