

.relatorio {
    margin: 10px 40px;
}

    .relatorio > input {
        margin: 40px 40px;
    }

    .relatorio input {
        margin-top: 100px;
        background-color: #252A34;
        color: #F9F5EC;
        padding-left: 10px;
        border: none;
        height: 45px;
        outline: none;
        border-radius: 8px;
        ;
        gap: 40px;
    }

.input-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.relatorio [type="submit"] {
    float: right;
    background-color: #006400;
    font-size: 15PX;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    color: #F9F5EC;
    height: 45px;
    outline: none;
    border-radius: 8px;
}

select {
    margin-top: 10px;
    background-color: #252A34;
    color: #F9F5EC;
    padding-left: 10px;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
}



.chart-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
canvas {
    width: 300px;
    height: 200px;
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}