* {
    box-sizing: border-box;
    text-decoration: none;
    color: #F9F5EC;
}

.swal2-popup {
    background-color: black !important;
}

a {
    color: #F9F5EC;
}


body {
    margin: 0;
    font-family: sans-serif;
    background-color: #181920;
    align-items: center;
}


.sidebar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 240px;
    height: 100%;
    padding: 40px 10px 30px 10px;
    border-right: 1px solid #2f3336;
    transition: all 0.8s;
}


.logo {
    width: 50px;
    min-height: 50px;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.4s;
}

    .logo:hover {
        transform: scale(1.5);
    }

.sidebar button {
    height: 60px;
    background: transparent;
    border: 0;
    font-family: sans-serif;
    cursor: pointer;
    text-align: left;
    padding: 0;
}

    .sidebar button > span {
        display: inline-flex;
        align-items: center;
        gap: 12px;
        height: 48px;
        padding: 0 16px 0 12px;
        border-radius: 24px;
        line-height: 1;
    }

    .sidebar button:hover > span {
        background-color: rgba(255,255,255,0.08);
    }

.sidebar > nav {
    /*
    flex-grow quanto vai crescer e flex-shrink quanto vai reduzir
    */
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main {
    margin-left: 125px;
    margin-right: 6px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

@media (width < 920px) {
    .sidebar {
        width: 72px;
    }

        .sidebar button > span {
            width: 50px;
        }

            .sidebar button > span > span {
                opacity: 0;
                visibility: hidden;
            }

    .main {
        transition: margin 0.4s;
        margin-left: 78px;
    }
}
.sidebar button {
    height: 60px;
    background: transparent;
    border: 0;
    font-family: sans-serif;
    cursor: pointer;
    text-align: left;
    padding: 0;
}

border{
    background: transparent
}

a{
    color: * {
    box-sizing: border-box;
    text-decoration: none;
}


body {
    margin: 0;
    font-family: sans-serif;
    background-color: #181920;
    align-items: center;
}


.sidebar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 240px;
    height: 100%;
    padding: 40px 10px 30px 10px;
    border-right: 1px solid #2f3336;
    transition: all 0.8s;
}


.logo {
    width: 50px;
    min-height: 50px;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.4s;
}

    .logo:hover {
        transform: scale(1.5);
    }

.sidebar button {
    height: 60px;
    background: transparent;
    border: 0;
    font-family: sans-serif;
    cursor: pointer;
    text-align: left;
    padding: 0;
}

    .sidebar button > span {
        display: inline-flex;
        align-items: center;
        gap: 12px;
        height: 48px;
        padding: 0 16px 0 12px;
        border-radius: 24px;
        line-height: 1;
    }

    .sidebar button:hover > span {
        background-color: rgba(255,255,255,0.08);
    }

.sidebar > nav {
    /*
    flex-grow quanto vai crescer e flex-shrink quanto vai reduzir
    */
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main {
    margin-left: 125px;
    margin-right: 6px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

@media (width < 920px) {
    .sidebar {
        width: 72px;
    }

        .sidebar button > span {
            width: 50px;
        }

            .sidebar button > span > span {
                opacity: 0;
                visibility: hidden;
            }

    .main {
        transition: margin 0.4s;
        margin-left: 78px;
    }
}
.sidebar button {
    height: 60px;
    background: transparent;
    border: 0;
    font-family: sans-serif;
    cursor: pointer;
    text-align: left;
    padding: 0;
}

border{
    background: transparent
}


}

