<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico de Refeições</title>
    <link rel="stylesheet" href="~/css/HistoricoRefeicao.css">
</head>
<body>
    <div class="main">
        <div class="meal-list">
            <div class="meal-item">
                <div class="meal-card">
                    <h3>Refeição 1</h3>
                    <p>Calorias: 400</p>
                    <p>Grama: 200</p>
                    <p>Data: 01/01/2023</p>
                </div>
            </div>

            <div class="meal-item">
                <div class="meal-card">
                    <h3>Refeição 2</h3>
                    <p>Calorias: 350</p>
                    <p>Grama: 180</p>
                    <p>Data: 02/01/2023</p>
                </div>
            </div>

            <div class="meal-item">
                <div class="meal-card">
                    <h3>Refeição 3</h3>
                    <p>Calorias: 500</p>
                    <p>Grama: 250</p>
                    <p>Data: 03/01/2023</p>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
