@model GoAestheticEntidades.Entities.RegistroRefeicoesViewModel;
@{
    SelectList alimentos = ViewBag.Alimentos;
}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/css/Registrar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <title> Home </title>
</head>

<body>
    <main class="main">
        <div class="registro">
            <h1>Registro de Refeições</h1>
            <form id="formularioRegistro">
                <label for="NomeRefeicao">Nome da Refeição:</label>
                <input asp-for="Nome" type="text" name="data" required>
                <br>

                <label for="Alimentos">Alimento:</label>
                <select asp-items="alimentos" id="listaAlimentos" class="selectbox select-alimentos" placeholder="Escolha um Alimento"></select>
                <br>

                <label for="quantidade">Quantidade (g):</label>
                <input type="number" id="quantidade" name="quantidade" required>
                <br>

                <button type="button" id="btnCalcularAlimento">Calcular</button>

                <h2>Informações Nutricionais:</h2>
                <table border="1" id="resumoAlimento">
                    <tr>
                        <th>Alimento</th>
                        <th>Quantidade (g)</th>
                        <th><a data-toggle="tooltip" title="Medida de energia proveniente dos alimentos e usadas pelo corpo para suas atividades diárias.">Calorias (kcal)</a></th>
                        <th><a data-toggle="tooltip" title="Macronutrientes essenciais para o crescimento, reparo e manutenção dos tecidos do corpo.">Proteínas (g)</a></th>
                        <th><a data-toggle="tooltip" title="Nutrientes que fornecem energia ao organismo e incluem açúcares, amidos e fibras.">Carboidratos (g)</a></th>
                        <th><a data-toggle="tooltip" title="Nutrientes que fornecem energia, absorvendo vitaminas e desempenham papéis importantes na estrutura celular.">Gorduras (g)</a></th>
                    </tr>
                </table>
                <br>

                <button id="btnAdicionarRefeicao" type="button">Adicionar a Refeição</button>
                <br>
                <br>

                    @await Html.PartialAsync("pvDetalhesRefeicao")

                <br />
                <button id="btnSalvar" type="button">Salvar</button>
            </form>
        </div>
        <div class="custom-loader" style = "display:none"></div>
    </main>
</body>

@section Scripts{
<script src="~/js/registroRefeicoes.js"></script>
<script src="~/lib/sweet-alert-2/sweetalert2.all.min.js"></script>
<script src="~/js/informaErros.js"></script>
}



