################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/
/Banco de Dados/DataBaseGoAesthetic/.vs/
*.dacpac
*.publish.sql
DeploymentReport*.txt
*.jfm
*.dbmdl
*.dtbcache.*
README.md

