################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/GoAesthetic/v17/.suo
/.vs/VSWorkspaceState.json
