################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################


/.vs/
/Projeto/GoAesthetic/.vs/
/Projeto/GoAesthetic/bin/
/Projeto/GoAesthetic/obj/

/Projeto/GoAestheticEntidades/bin/
/Projeto/GoAestheticEntidades/obj/

/Projeto/GoAestheticNegocio/bin/
/Projeto/GoAestheticNegocio/obj/


/Banco de Dados/DataBaseGoAesthetic/.vs/
/Banco de Dados/DataBaseGoAesthetic/bin/
/Banco de Dados/DataBaseGoAesthetic/obj/
/Banco de Dados/DataBaseGoAesthetic/*.jfm
/Banco de Dados/DataBaseGoAesthetic/*.dbmdl
*.vsidx
/Projeto/GoAetheticApi/obj
/Projeto/GoAetheticApi/.vs/GoAetheticApi/v17
