<!DOCTYPE html>
<html>
<head>
    <title>Erro</title>
    <link rel="stylesheet" type="text/css" href="~/css/Erro.css">
</head>
<body>
    <div class="error-page">
        <div class="error">
            <img class="logo" src="~/img/logo.png" alt="logo">
            <h1>Erro Inesperado</h1>
            <p>Um erro inesperado ocorreu, entre em contato com os administradores do sistema.</p>
            <a href="/Home">Voltar à página inicial</a>
        </div>
    </div>
</body>
</html>



