@model GoAestheticEntidades.Entities.UsuariosViewModel;
@{
    bool inclusao = ViewBag.Inclusao;
    string pesoConvertido = (Model != null && Model.Peso.HasValue) ? Model.Peso.Value.ToString().Replace(',', '.') : "";
}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/Cadastro.css">
    <title> Cadastro </title>
</head>
<body>
    <section class="area-cadastro">
        <div class="cadastro">

            <form id="cadastro-form">
                <input type="hidden" id="Inclusao" value="@inclusao" />
                <input asp-for="Nome" type="text" name="nome" placeholder="Nome" autofocus>
                <input asp-for="Email" type="text" name="email" placeholder="Email" autofocus>
                <input asp-for="Senha" type="password" name="senha" placeholder="Senha">
                <span class="lnr-eye"></span>
                <input asp-for="DataNascimento" type="date" name="idade" placeholder="Idade" autofocus>
                <select asp-for="Sexo" class="genero">
                    <option selected value="masculino">Masculino</option>
                    <option value="feminino">Feminino</option>
                    <option value="agenero">Agênero</option>
                </select>
                <input asp-for="Altura" type="number" class="input-number" name="altura" placeholder="Altura (cm)" autofocus>
                <input asp-for="Peso" type="number" class="input-number" name="peso" placeholder="Peso (kg)" step=".01" autofocus value="@pesoConvertido">
                <br><br />
                @if(inclusao)
                {
                    <input type="button" id=btnSalvar value="Criar cadastro">
                }
                else
                {
                    <input type="button" id=btnSalvar value="Alterar cadastro">
                }
                
            </form>
            @if(inclusao)
            {
                <p>Já tem um cadastro? <a href="/Login/LoginUsuario">Ir para o Login</a></p>
            }         
        </div>
        <div class="custom-loader" style = "display:none"></div>
    </section>
</body>

@section Scripts{
    <script src="~/lib/sweet-alert-2/sweetalert2.all.min.js"></script>
    <script src="~/js/informaErros.js"></script>
    <script src="~/js/cadastro.js"></script>
}