@model GoAestheticEntidades.Entities.UsuariosViewModel;

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/css/Login.css">
    <meta charset="UTF-8">
    <title> Login </title>
</head>
<body>
    <section class="area-login">
        <div class="login">

            <div>
                <img src="/img/logo.png">
            </div>

            <form asp-controller="Login" asp-action="Edit" id="login-form">
                <input asp-for="Email" type="text" name="email" placeholder="Email" autofocus>
                <input asp-for="Senha" type="password" name="senha" placeholder="Senha">
                <span class"lnr-eye"></span>
                <input type="submit" value="entrar">
            </form>
            <p>Não tem cadastro? <a href="/Login/CadastroUsuario">Criar um conta</a></p>
            
        </div>      

    </section>
</body>

@section Scripts{
    <script src="~/lib/sweet-alert-2/sweetalert2.all.min.js"></script>
    <script src="~/js/login.js"></script>
}
