<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/Cadastro.css">
    <title> Cadastro </title>
</head>
<body>
    <section class="area-cadastro">
        <div class="cadastro">

            <form id="cadastro-form">

                <input type="text" name="nome" placeholder="Nome" autofocus>
                <input type="text" name="email" placeholder="Email" autofocus>
                <input type="password" name="senha" placeholder="Senha">
                <span class="lnr-eye"></span>
                <input type="text" name="idade" placeholder="Idade" autofocus>
                <select class="genero">
                    <option selected value="masculino">Masculino</option>
                    <option value="feminino">Feminino</option>
                    <option value="agenero">Agênero</option>
                </select>
                <input type="number" class="input-number" name="altura" placeholder="Altura (m)" autofocus>
                <input type="number" class="input-number" name="peso" placeholder="Peso (kg)" autofocus>
                <br><br />
                <input type="submit" value="criar cadastro">
            </form>
            <p>Já tem um cadastro? <a href="Login">Ir para o Login</a></p>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

        <script src="~/js/cadastro.js"></script>

    </section>
</body>
