@model GoAestheticEntidades.Entities.UsuariosViewModel;
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/Cadastro.css">
    <title> Cadastro </title>
</head>
<body>
    <section class="area-cadastro">
        <div class="cadastro">

            <form id="cadastro-form">

                <input asp-for="Nome" type="text" name="nome" placeholder="Nome" autofocus>
                <input asp-for="Email" type="text" name="email" placeholder="Email" autofocus>
                <input asp-for="Senha" type="password" name="senha" placeholder="Senha">
                <span class="lnr-eye"></span>
                <input asp-for="DataNascimento" type="date" name="idade" placeholder="Idade" autofocus>
                <select asp-for="Sexo" class="genero">
                    <option selected value="masculino">Masculino</option>
                    <option value="feminino">Feminino</option>
                    <option value="agenero">Agênero</option>
                </select>
                <input asp-for="Altura" type="number" class="input-number" name="altura" placeholder="Altura (cm)" autofocus>
                <input asp-for="Peso" type="number" class="input-number" name="peso" placeholder="Peso (kg)" step=".01" autofocus>
                <br><br />
                <input type="submit" value="criar cadastro">
            </form>
            <p>Já tem um cadastro? <a href="Login">Ir para o Login</a></p>

        </div>


    </section>
</body>

@section Scripts{
    <script src="~/lib/sweet-alert-2/sweetalert2.all.min.js"></script>
    <script src="~/js/informaErros.js"></script>
    <script src="~/js/cadastro.js"></script>
}