<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/galeria.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Home </title>
</head>
<body>
    <main class="main">
        <button class="enviar">Enviar uma Foto</button>
        <div class="gallery">
            <a target="_blank" href="img/img1.jpg">
                <img src="img/img1.jpg" alt="img1" width="600" height="400">
            </a>
            <div class="desc">Data: 04/06/2023 Peso: 120Kg</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="img/img2.jpg">
                <img src="img/img2.jpg" alt="img2" width="600" height="400">
            </a>
            <div class="desc">Data: 04/06/2023 Peso: 90Kg</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="img/img3.jpg">
                <img src="img/img3.jpg" alt="img3" width="600" height="400">
            </a>
            <div class="desc">Data: 04/08/2023 Peso: 60Kg</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="img/img4.jpg">
                <img src="img/img4.jpg" alt="img4" width="600" height="400">
            </a>
            <div class="desc">Data: 04/09/2023 Peso: 75Kg</div>
        </div>
    </main>
</body>
