<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/css/relatorios.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Home </title>
</head>


<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<body>

    <main class="main">
        <div class="relatorio">
            <select class="metricas">
                <option selected value="caloriasConsumidas">Calorias Consumidas</option>
                <option value="pesoCorporal">Peso Corporal</option>
                <option value="mediasCorporais">Medidas Corporais</option>
            </select>
            <input type="date" class="input-number" name="data" placeholder="Data" autofocus>
            <input type="submit" value="gerar relatorio">
        </div>

        <DIV class="tabela">
            <table border="1">
                <tr>
                    <th>Peso</th>
                    <th>Altura</th>
                    <th>Data</th>
                    <th>Meta</th>
                    <th>TACO</th>
                </tr>
                <!-- Linha 1 -->
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <!-- Linha 2 -->
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <!-- Linha 3 -->
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <!-- Linha 4 -->
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <!-- Linha 5 -->
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </DIV>

    </main>
</body>