<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/registrar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Home </title>
</head>

<body>
    <main class="main">
        <div class="registro">
            <h1>Registro de Alimentos</h1>
            <form>
                <label for="data">Data:</label>
                <input type="date" id="data" name="data" required>
                <br>

                <label for="alimento">Alimento:</label>
                <input type="text" id="alimento" name="alimento" placeholder="Pesquisar alimento" required>
                <br>

                <label for="quantidade">Quantidade (g):</label>
                <input type="number" id="quantidade" name="quantidade" required>
                <br>

                <h2>Informações Nutricionais:</h2>
                <!-- Exibir informações nutricionais aqui -->

                <button type="button">Calcular</button>
                <button type="submit">Salvar</button>
            </form>
        </div>

        <div class="tabela">
            <!-- Tabela de registros de alimentos -->
            <table border="1">
                <tr>
                    <th>Alimento</th>
                    <th>Quantidade (g)</th>
                    <th>Calorias</th>
                    <th>Proteínas</th>
                    <th>Carboidratos</th>
                    <th>Gorduras</th>
                </tr>
                <!-- Linhas da tabela com registros de alimentos -->
                <tr>
                    <td>Arroz</td>
                    <td>150</td>
                    <td>210</td>
                    <td>4.3g</td>
                    <td>45.8g</td>
                    <td>0.5g</td>
                </tr>
                <!-- Outros registros de alimentos aqui -->
            </table>
        </div>
    </main>
</body>
