<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/css/sobre.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Sobre </title>
</head>

<body>
    <main class="main">
        <section class="hero">
            <div class="hero-content">
                <h1>Bem-vindo à GoAesthetic</h1>
                <p>Sua jornada para uma vida saudável começa aqui!</p>
                <h2>Sobre a GoAesthetic</h2>
                <p>A GoAesthetic é o seu parceiro para alcançar seus objetivos de saúde e bem-estar. Nossa equipe dedicada de profissionais de saúde e tecnologia está aqui para ajudar você a alcançar seu melhor estado físico e mental.</p>
            </div>
        </section>



        <section class="contact">
            <div class="container">
                <h2>Entre em Contato</h2>
                <p>Tire suas dúvidas ou saiba mais sobre nossos serviços. Estamos aqui para ajudar!</p>
                <a href="Contato.html" class="btn-secondary">Fale Conosco</a>
            </div>
        </section>
    </main>
</body>