<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/css/sobre.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/js/nossoContato.js"></script>
    <title> Sobre </title>
</head>

<body>
    <main class="main">
        <section class="hero">
            <div class="hero-content">
                <h1>Bem-vindo à GoAesthetic</h1>
                <p>Sua jornada para uma vida saudável começa aqui!</p>
                <h2>Sobre a GoAesthetic</h2>
                <p>A GoAesthetic é o seu parceiro para alcançar seus objetivos de saúde e bem-estar. Nossa equipe dedicada de profissionais de saúde e tecnologia está aqui para ajudar você a alcançar seu melhor estado físico e mental.</p>

                <section class="importancia-nutricional">
                    <div class="container">
                        <h2>Importância da Gestão Nutricional</h2>
                        <p>A gestão nutricional desempenha um papel fundamental na saúde e bem-estar. Alguns pontos-chave incluem:</p>
                        <ul>
                            <li><strong>Alimentação Balanceada:</strong> Uma dieta equilibrada, com  <a data-toggle="tooltip" title="Nutrientes necessários em grandes quantidades pelo organismo, como carboidratos, proteínas e gorduras.">macronutrientes</a> 
                                e <a data-toggle="tooltip" title="Nutrientes essenciais em pequenas quantidades, como vitaminas e minerais.">micronutrientes</a>
                                adequados, promove a <a data-toggle="tooltip" title="Homeostase é o equilíbrio interno do corpo, mantendo as condições estáveis para um funcionamento saudável.">homeostase</a> e a saúde metabólica.
                            </li>
                            <li><strong>Prevenção de <a data-toggle="tooltip" title="Condições médicas adicionais que coexistem com uma doença ou condição principal.">Comorbidades</a>:</strong> A adequada ingestão de nutrientes pode mitigar o risco de comorbidades como obesidade, 
                                <a data-toggle="tooltip" title="Distúrbio metabólico caracterizado por resistência à insulina e níveis elevados de glicose no sangue.">diabetes mellitus tipo 2</a> e doenças cardiovasculares.
                            </li>
                            <li><strong>Desempenho Físico e Cognitivo:</strong> Nutrição adequada impacta diretamente o desempenho físico, a função cognitiva e a resistência à fadiga.</li>
                            <li><strong>Gestão do Peso Corporal:</strong> O entendimento da nutrição é vital para a regulação do peso corporal, influenciando a composição corporal e o
                                <a data-toggle="tooltip" title="Quantidade mínima de energia que o corpo precisa para manter funções vitais em repouso.">metabolismo basal.</a>
                            </li>
                        </ul>
                        <p>Compreender os princípios da alimentação saudável é essencial para promover um estilo de vida mais saudável e prevenir doenças relacionadas à nutrição inadequada.</p>
                    </div>
                </section>


            </div>
        </section>


        <section class="contact">
            <div class="container">
                <h2>Entre em Contato</h2>
                <p>Tire suas dúvidas ou saiba mais sobre nossos serviços. Estamos aqui para ajudar!</p>
                <button id="btnFaleConosco" class="btn-secondary">Fale Conosco</button>
            </div>
        </section>
    </main>
</body>