<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MarcoEvolucao</title>
    <link rel="stylesheet" href="~/css/MarcosEvolucao.css">
</head>
<body>
    <div class="marcosEevolucao">
        <h1>Marco de Evolução</h1>
        <form id="cadastro-marco" enctype="Multipart/Form-Data">
            <label for="altura">Altura:</label>
            <input type="number" id="Altura" name="altura" step="0.01" placeholder="Altura em cm" required>

            <label for="peso">Peso:</label>
            <input type="number" id="Peso" name="peso" step="0.01" placeholder="Peso em kg" required>


            <label for="foto">Foto (apenas .jpg, .jpeg, .png):</label>

            <input type="file" id="Arquivo" name="Arquivo" accept=".jpg, .jpeg, .png" onchange="previewImage(this)">



            <div class="image-preview">
                <img id="preview">
            </div>

            <button id="btnEnviar" class="btnEnviar" type="button">Cadastrar</button>
        </form>

    </div>
</body>
</html>

@section Scripts{
<script src="~/js/marcosEvolucao.js"></script>
<script src="~/js/informaErros.js"></script>
}
