<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MarcoEvolucao</title>
    <link rel="stylesheet" href="~/css/MarcosEvolucao.css">
</head>
<body>
    <div class="marcosEevolucao">
        <h1>Marco de Evolução</h1>

        <!-- Formulário para cadastrar um novo marco -->
        <form id="cadastro-marco">
            <label for="altura">Altura:</label>
            <input type="text" id="altura" name="altura" placeholder="Altura em cm" required>
            <label for="peso">Peso:</label>
            <input type="text" id="peso" name="peso" placeholder="Peso em kg" required>

            <label for="foto">Foto (apenas .jpg, .jpeg, .png):</label>
            <input type="file" id="foto" name="foto" accept=".jpg, .jpeg, .png" onchange="previewImage(this)">



            <div class="image-preview">
                <img id="preview">
            </div>

            <button type="submit">Cadastrar</button>
        </form>

    </div>
    
    <script src="~/js/marcosEvolucao.js"></script>
</body>
</html>
