@model GoAestheticEntidades.Entities.MarcosEvolucaoViewModel


@if (ViewBag.erro != null)
{
    <h3>@ViewBag.erro</h3>
}
@using (Html.BeginForm("Edit", "MarcosEvolucao", method: FormMethod.Post, htmlAttributes: new { enctype = "Multipart/Form-Data" }))
{
    <input asp-for="Arquivo" type="file">


    <img id="imgPreview" src="@ViewBag.urlImagem" class="img-responsive" width="300">
    <img id="imgPreview" src="@ViewBag.urlImagem2" class="img-responsive" width="300">
    <img id="imgPreview" src="@ViewBag.urlImagem3" class="img-responsive" width="300">
    <br />
    <br />
    <br />
    <br />
    <input type="submit" value="Submit">
}

<script>
    function exibirImagem() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("Arquivo").files[0]);
        oFReader.onload = function (oFREvent) {
            document.getElementById("imgPreview").src = oFREvent.target.result;
        };
    }
</script>
